<div class="h-event">
  <h1 class="p-name">ISWC2015</h1>
  <p class="p-description">14th Int. Semantic Web Conference</p>
  <p>
    <time class="dt-start" datetime="2015-10-11">11th Oct. 2015</time> -
    <time class="dt-end" datetime="2015-10-15">15th Oct. 2015</time>
  </p>
  <p class="p-location h-adr">
    <span class="p-locality">Bethlehem</span>,
    <span class="p-region">Pennsylvania</span>
    (<span class="p-country-name">USA</span>)
  </p>
  <a class="u-url" href="http://iswc2015.semanticweb.org">
    http://iswc2015.semanticweb.org
  </a>
</div>
