<div itemscope itemtype="http://schema.org/Event">
  <h1 itemprop="name">ISWC2015</h1>
  <p itemprop="description">14th Int. Semantic Web Conference</p>
  <p>
    <time itemprop="startDate" datetime="2015-10-11">11th Oct. 2015</time> -
    <time itemprop="endDate" datetime="2015-10-15">15th Oct. 2015</time>
  </p>
  <p itemprop="location" itemscope itemtype="http://schema.org/PostalAddress">
    <span itemprop="name addressLocality">Bethlehem</span>,
    <meta itemprop="addressRegion" content="PA"><span>Pennsylvania</span>
    (<span itemprop="addressCountry">USA</span>)
  </p>
  <a itemprop="url" href="http://iswc2015.semanticweb.org">
    http://iswc2015.semanticweb.org
  </a>
</div>
