<div vocab="http://schema.org/" about="http://iswc2015.semanticweb.org#event" typeof="Event">
  <h1 property="name">ISWC2015</h1>
  <p property="description">14th Int. Semantic Web Conference</p>
  <p>
    <span property="startDate" content="2015-10-11" datatype="xsd:date">11th Oct. 2015</span> -
    <span property="endDate" content="2015-10-15" datatype="xsd:date">15th Oct. 2015</span>
  </p>
  <p property="location" typeof="PostalAddress">
    <span property="addressLocality">Bethlehem</span>,
    <span property="addressRegion" content="PA">Pennsylvania</span>
    (<span property="addressCountry">USA</span>)
  </p>
  <a property="url" href="http://iswc2015.semanticweb.org">
      http://iswc2015.semanticweb.org
  </a>
</div>
